/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul, li {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.ui-tabs .ui-tabs-panel{
    padding: 10px 10px;
    line-height: 35px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector

// endinjector

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.header {
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px #000000 solid;
    line-height: 50px;
}

.main {
    display: flex;
}

.edit-left {
    width: 200px;
}

.edit-center {
    flex: 1;

    .design-btns {
        button {
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }
    }
}

.edit-right {
    width: 300px;
    border: 1px #000000 solid;
}

.design-ui {
    position: relative;
    height: 1038px;
    margin: 0 20px 0 150px;
    background: #FFFFFF;
    box-shadow: 0 0 6px #a9a9a9;
    margin-bottom: 40px;
    box-shadow: 0 0 20px #c1c1c1;
    transition: 0.2s;
    //这个对拖动的位置有影响
    //transform: scale(0.7);
    transform-origin: 50% 0;

    .line960 {
        border: 1px solid #F00;
        border-right: none;
        position: absolute;
        z-index: 9999;

        span {
            display: block;
            color: #fff;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            padding: 5px;
            background: #fff;
            left: -70px;
            width: 60px;
        }
    }

    .line-iphone4 {
        height: 832px;
        top: 0;
        width: 20px;
        left: -20px;
        border-color: #ff8111;

        span {
            top: 40%;
            background: #ff8111;
        }
    }

    .line-iphone5 {
        height: 1008px;
        top: 0;
        width: 40px;
        left: -40px;
        border-color: #11a952;

        span {
            background: #11a952;
        }
    }

    .line-iphone6 {
        height: 1038px;
        top: 0;
        width: 60px;
        left: -60px;
        border-color: #c3111d;

        span {
            top: 60%;
            background: #c3111d;
        }
    }
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    li {
        overflow: hidden;
        position: relative;
        padding: 30px 10px;

        .del {
            display: none;
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 26px;
        }

        &.no-border {
            outline: none;
        }

        &:hover {
            outline: 1px #000d00 dashed;

            .del {
                display: block;
            }
        }

        &.active {
            outline: 1px #ff0d00 solid;
        }
    }

    input[type="text"] {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding: 0 5px;
        border: 1px solid #ccc;
    }

    .form-autoNum {
        display: none;
    }

    .form-required {
        color: red;
        position: relative;
        top: 2px;
    }
}

.slider-range-min {
    display: none;
}

//drag's css
//body.dragging, body.dragging * {
//    cursor: move !important;
//}
//
//.dragged {
//    position: absolute;
//    opacity: 0.5;
//    z-index: 2000;
//}
//
//.ui-container li.placeholder {
//    position: relative;
//    /** More li styles **/
//}
//.ui-container li.placeholder:before {
//    position: absolute;
//    /** Define arrowhead **/
//}

//.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
//.sortable li span { position: absolute; margin-left: -1.3em; }

//提高可拖动的层级
.ui-draggable-handle {
    z-index: 1;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.block-placeholder {
    height: 98px !important;
    border: 1px dotted black;
    margin-bottom: 10px;
    width: 498px;
}

